In [62]:
import pandas as pd
import numpy as np

In [63]:
#Lists
opp=[]
adj=[]
hypo=[]

In [64]:
n=int(input("Enter No of Elements you want"))

In [65]:
print("Enter The Values of the Opp")
for i in range(n):
    k=int(input())
    opp.append(k)

print("Enter The Values of the Adj")
for i in range(n):
    k=int(input())
    adj.append(k)

Enter The Values of the Opp
Enter The Values of the Adj

In [66]:
for i in range(len(opp)):
    k=((opp[i]**2)+(adj[i]**2))**0.5
    print(k)
    hypo.append(k)

1.4142135623730951
2.8284271247461903
4.242640687119285
5.656854249492381
7.0710678118654755
8.48528137423857
9.899494936611665
11.313708498984761
12.727922061357855
14.142135623730951

In [67]:
print(hypo)

[1.4142135623730951, 2.8284271247461903, 4.242640687119285, 5.656854249492381, 7.0710678118654755, 8.48528137423857, 9.899494936611665, 11.313708498984761, 12.727922061357855, 14.142135623730951]

In [68]:
df=pd.DataFrame((opp,adj,hypo),index=['Opposite',"Adjacent",'Hypotenews'])
df

,0,1,2,3,4,5,6,7,8,9
Opposite,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000
Adjacent,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000
Hypotenews,1.414214,2.828427,4.242641,5.656854,7.071068,8.485281,9.899495,11.313708,12.727922,14.142136